<?xml version="1.0" encoding="utf-8" ?>
<!-- SPDX-License-Identifier: Apache-2.0 -->
<robot name="utils" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="cylinder_inertia" params="length mass radius rpy xyz">
        <inertial>
            <origin rpy="${rpy}" xyz="${xyz}" />
            <mass value="${mass}"/>
            <inertia
                ixx="${mass * (3 * radius ** 2 + length ** 2) / 12}"
                ixy="0"
                ixz="0"
                iyy="${mass * (3 * radius ** 2 + length ** 2) / 12}"
                iyz="0"
                izz="${mass * radius ** 2 / 2}"
                />
        </inertial>
    </xacro:macro>
</robot>
