<?xml version="1.0" encoding="utf-8" ?>
<!-- SPDX-License-Identifier: Apache-2.0 -->
<robot name="utils" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="virtual_link_inertia">
        <!-- virtual link -->
        <inertial>
            <!-- mass should not be zero [1] -->
            <mass value="0.001" />
            <origin rpy="0 0 0" xyz="0 0 0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </xacro:macro>
</robot>
